body {
  font-family: 'Jura', sans-serif;
  padding: 4rem;
  font-size: 1.5rem;
}

h1 {
    text-align: center;
}

strong {
  font-weight: bold;
  color: #8a43e2;
}

ul {
  list-style-type: none;
}

ul > li {
  margin-bottom: 1rem;
}

div.social {
  text-align: center;
  margin: 1rem;
}
