.reveal h3, .reveal h4 {
	padding-bottom: 5rem;
}

.reveal cite {
	font-size: 70%;
	font-style: italic;
}

.reveal cite::before {
	content: "🗣"
}

.reveal a::before {
	content: "🔗"
}

.reveal a.missingSampleApp::before {
	content: "🛈"
}

.reveal a.img-only::before {
	content: ""
}

.reveal span.pre {
	font-family: monospace;
	white-space: pre;
}

.reveal .split {
	display: inline-block;
}

.reveal .left {
	float: left;
	width: 50%;
}

.reveal .right {
	float: right;
	width: 50%;
}

strong {
	color: rgb(253, 164, 44);
}

q {
	quotes: "\00AB" "\00BB"
}

.TODO {
	background-color: #FFFFA5;
}

.TODO::before {
	content: "TODO";
	font-size: small;
}

.reveal section img {
	margin: 0;
	border: 0;
	box-shadow: unset;
	background: unset;
}

.reveal .screenshot {
 	max-height: 70%;
	max-width: 70%;
}

.reveal pre {
	width: unset;
	user-select: none;
}

.reveal pre code {
	max-height: unset;
}

.reveal code:not(.hljs) {
	color: #808080;
}

.reveal pre.es6::before {
	content: "☝ES6";
	position: absolute;
	right: 2rem;
	top: 1rem;
	color: #ffc83d;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.reveal pre.es5::before {
	content: "☝ES5";
	position: absolute;
	right: 2rem;
	top: 1rem;
	color: #ffc83d;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.reveal .social {
	padding-top: 64px;
	text-align: left;
}

.social a {
	padding: 16px;
	border-radius: 50%;
	background-color: white;
}

.social a:hover {
	box-shadow: unset;
}

.social a img {
	position: relative;
	top: 16px;
}

.social a img:hover {
	box-shadow: unset;
}

.reveal figcaption {
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: .5em;
	font-style: italic;
}